:root {
    --font-family: 'Poppins', Arial;
    --primary-color: #0079FF;
    --delete-color: #FA7070;
    --add-color: #9ADE7B;
}

body{
    font-family: var(--font-family);
    overflow-y: hidden;
}
.App{
    display: flex;
    font-size: 16px;
    font-weight: 500;
}
.visualizer,
.editor{
    width: 50%;
}

.visualize-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 10px), -40%);
    border: none;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: pointer;
}

.visualizer,
.editor{
    min-height: 100vh;
}
.mantine-JsonInput-input,
.visualizer{
    height: 95vh;
}
.mantine-JsonInput-input{
    padding: 20px 0;
}

.visualizer{
    padding-left: 40px;
    overflow-y: scroll;
}
.editor{
    padding-left: 10px;
    padding-right: 20px;
    border-right: 1px solid #e0e0e0;
    background: #f4f4f4;
    
}
.mantine-JsonInput-input{
    width: 100%;
    border: none;
    outline: none;
    background: #f4f4f4;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}

.json-wrapper{
    display: inline;
}
.json-pair{
    display: flex;
    width: max-content;
    margin: 3px 0;

}
.json-key,
.json-value{
    height: max-content;
    padding: 0 5px;
}

.to-be-deleted,
.to-be-replaced{
    background: var(--delete-color);
    cursor: pointer;
}

.to-be-replaced{
    margin-right: 5px;
}

.to-be-added,
.replaced-value{
    background: var(--add-color);
    cursor: pointer;
}
.test-passed,
.test-failed{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: initial;
    pointer-events: none;
    padding: 1px 8px;
    border-radius: 3px;
    color: #fff;
}
.test-failed{
    background: var(--delete-color);
}
.test-passed{
    background: var(--add-color);
}

.replaced-value{
    height: max-content;
}

.bracket-container{
    margin-left: 20px;
}
.mantine-JsonInput-error{
    color: red;
    font-size: 14px;
    font-weight: 500;
}
.array-item-pair{
    display: flex;
    gap:5px;
    margin: 5px 0;
}
.array-item-pair,
.array-value{
    width: max-content;
}
