body{
    font-family: Poppins, Arial;
}
.App{
    display: flex;
    font-size: 16px;
    font-weight: 500;
}
.visualizer,
.editor{
    width: 50%;
}

.visualize-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 10px), -40%);
    border: none;
    font-family: Poppins, Arial;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    background-color: #0079FF;
    color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: pointer;
}

.visualizer,
.editor{
    min-height: 100vh;
}

.mantine-JsonInput-input{
    height: 90vh;
}

.visualizer{
    padding-left: 40px;
}
.editor{
    padding-left: 10px;
    padding-right: 20px;
    border-right: 1px solid #e0e0e0;
    background: #f4f4f4;
}
.mantine-JsonInput-input{
    width: 100%;
    border: none;
    outline: none;
    background: #f4f4f4;
    font-family: Poppins, Arial;
    font-size: 16px;
    font-weight: 500;
}

.json-wrapper{
    display: inline;
}
.json-pair{
    display: flex;
    width: max-content;
    margin: 3px 0;

}
.json-key,
.json-value{
    height: max-content;
    padding: 0 5px;
}

.to-be-deleted,
.to-be-replaced{
    background: #FA7070;
    cursor: pointer;
}

.to-be-replaced{
    margin-right: 5px;
}

.to-be-added,
.replaced-value{
    background: #9ADE7B;
    cursor: pointer;
}
.replaced-value{
    height: max-content;
}

.bracket-container{
    margin-left: 20px;
}
.mantine-JsonInput-error{
    color: red;
    font-size: 14px;
    font-weight: 500;
}
